<div class="container-fluid gallery-page">
  <div class="image">
    <img src="assets/pics/Image1.jpg">
    <div class="text">
      <div style="display: flex; flex-direction: row;">
        <div class="tile"></div>
        <h2>Gallery</h2>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="main">
      <div class="container">
        <h2>Playground</h2>
        <div class="line"></div>
      </div>
      <div class="gallery">
        <app-gallery-carousel [imageData]="images"></app-gallery-carousel>
      </div>
    </div>
  
    <div class="main">
      <div class="container">
        <h2>Cultural Day</h2>
        <div class="line"></div>
      </div>
      <div class="gallery">
        <app-gallery-carousel [imageData]="images"></app-gallery-carousel>
      </div>
    </div>
  
    <div class="main">
      <div class="container">
        <h2>Inter-House Sports</h2>
        <div class="line"></div>
      </div>
      <div class="gallery">
        <app-gallery-carousel [imageData]="images"></app-gallery-carousel>
      </div>
    </div>
  
    <div class="main">
      <div class="container">
        <h2>Graduation Day</h2>
        <div class="line"></div>
      </div>
      <div class="gallery">
        <app-gallery-carousel [imageData]="images"></app-gallery-carousel>
      </div>
    </div>
  </div>
</div>
