<swiper [config]="config" #usefulSwiper>

  <div class="swiper-wrapper">

    <div class="swiper-slide" *ngFor="let slide of slideData">
      <img [src]="slide.img" />
      <!-- <h1>The Best Place For Your Child</h1>
      <p class="text-center">"To build capabilities in children that enable them to face the future across the globe"
      </p> -->
    </div>

  </div>

  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>

  <!-- Add Arrows -->
  <!-- <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div> -->

</swiper>
