<footer>
  <div class="container-fluid footer">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="title">
          <div class="content">
            <h3>Address</h3>
            <p>Evangelist Anthony Abimiku Magaji Street, off Dr Musa Ebuga Street, Anyways Soya Masaka.</p>
          </div>
  
          <div class="content">
            <h3>Phone No</h3>
            <p>08038475634</p>
          </div>
  
          <div class="content">
            <h3>Email</h3>
            <p>jesfaschools@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="title">
          <a [routerLink]="['home']">Home</a>
          <a [routerLink]="['about']">About Us</a>
          <a [routerLink]="['gallery']">Gallery</a>
          <a (click)="sendMessage()">Contact Us</a>
        </div>
      </div>
      <div class="col">
        <div class="icons">
          <br />
          <br />
          <br />
          <a href="https://web.facebook.com/jesfaschools/" style="margin: 0 8px;">
            <img src="assets/pics/facebook.png">
          </a>
          <a href="https://twitter.com/bootsnipp" style="margin: 0 8px;">
            <img src="assets/pics/ig.png">
          </a>
          <!-- <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp"
              class="fa fa-google-plus-square fa-3x social"></i></a>
          <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> -->
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-dark">
        <p class="h6">© All right Reversed.<a class="text-green ml-2" href="#" target="_blank">Sunlimetech</a></p>
      </div> -->
      <!-- <div class= "container">
        <div class="footer_resize">
          <p class="lf">&copy; Copyright <a href="#">JesfaSchools.org</a>.</p>
          <p class="rf">Design by PhosMobile</p>
          <div style="clear:both;"></div>
        </div>
      </div> -->
      <div class="copyright">
        <p class="lf">&copy; Copyright <a href="#">JesfaSchools.org</a>.</p>
      </div>
  </div>
</footer>
