<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="logo" routerLink="/home">
    <img src="assets/pics/Jesfa-logo.png" width="40px" height="45px" alt="school-logo">
    <div class="logo-text">
      <h1>Jesfa <span>Schools</span></h1>
    </div>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/gallery" routerLinkActive="active">Gallery</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">About Us</a>
      </li>
      <li>
        <mat-chip-list>
          <mat-chip color="primary" (click)="sendMessage()">
            <a routerLinkActive="active">Contact Us</a>
          </mat-chip>
        </mat-chip-list>
      </li>
    </ul>
  </div>
</mat-toolbar>