<div class="container-fluid about-page">
  <div class="image">
    <img src="assets/pics/Image1.jpg">
    <div class="text">
      <div style="display: flex; flex-direction: row;">
        <div class="tile"></div>
        <h2>About Us</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" style="margin-top: 50px;">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="container">
          <h2>At Jesfa Schools</h2>
          <div class="line"></div>
          <p> We provide excellent caring learning environment that promote quality education, through the use of
            integrated curriculum that prepare children for the future by helping them to develop an enduring passion
            for
            learning and giving them opportunity to excel in their studies. We place emphasis on achievement and
            celebrate
            success. We operate as a team and actively communicate with each other, recognizing and valuing our
            contributions in the education and personal development of all children. JESFA Schools believe that each
            child
            is entitled to good education, so we ensure that teaching and learning takes on a dynamic approach using the
            most current pedagogies and facilities. We recognize the commitment of all parents to achieving our vision.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6"></div>
    </div>
  
    <div class="row" style="margin-top: 50px;">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="container">
          <h2>School Facilities</h2>
          <div class="line"></div>
          <p>Our school provides excellent conducive learning environment for pupils, that meet modern requirement as
            well
            as appealing to pupils needs. We ensure a clean setting with impressive facilities both inside and outside
            that provides rich opportunities for pupils to learn.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6"></div>
    </div>
  
    <app-gallery-carousel></app-gallery-carousel>
  
    <div class="row" style="margin-top: 50px;">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="container">
          <h2>Curriculum</h2>
          <div class="line"></div>
          <p>We operate an integrated curriculum of Nigeria/British that is broad, stimulating and balanced placing
            emphasis on technology and skills for the future, such as financial intelligence. Our curriculum is enriched
            with "softer " skills training in order to prepare the children for the 21st century world they will live
            in.
            JESFA Schools spans beyond the classroom, it ensure the children experience, field trips, excursion.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6"></div>
    </div>
  
  </div>
  
</div>