<div class="home-page">
  <app-carousel></app-carousel>
  <div class="container">
    <div class="row" style="margin-top: 50px;">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="container">
          <h2>Our Primary</h2>
          <div class="line"></div>
          <p>Jesfa Schools is a co-educational schoolin the satellite town of maseka for children aged 6 months to 11
            years. We are a young school opened in 2017 to address the shortage of quality and affordable school in the
            environment and has quickly gained popularity. It is laying strong as reusing well rounded children with a
            wide extra curricular programs. All Jesfa pupils offer French alongside the integrated curriculum. There is
            an
            extensive curricular programme which includes Taekwondo, tennis, ballet, chess, young Engineers, gymnastics
            e.t.c</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6"></div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card-a">
          <div class="body">
            <div style="display: flex; flex-direction: row;">
              <div class="title"></div>
              <h2>Our Vision</h2>
            </div>
            <p class="text">To be a bespoke place focused on collaborating with parents to midlwife children gifts to
              excellence </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card-a">
          <div class="body">
            <div style="display: flex; flex-direction: row;">
              <div class="title"></div>
              <h2>Mission Statement</h2>
            </div>
            <p class="text">To build capabilities in children that enables them to face the future across the globe</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card-a">
          <div class="body">
            <div style="display: flex; flex-direction: row;">>
              <div class="title"></div>
              <h2>Our Values</h2>
            </div>
            <p class="text">Integrity, respect for all, skills and excellence</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 50px;">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="container">
          <h2>Early Years</h2>
          <div class="line"></div>
          <p> We place emphasis on, hygeine therefore our toys and equipment are sterilized regularly and general
            hygeine
            is maintained throughout the school. Planning, observation and recording for the children are based on the
            early years foundation stage (EYFS) framework to support children in their earliest years. Our early years
            offers a stimulating and balanced curriculum for all age groups which is monitored carefully to help each
            child reach their full potential. Our Earl Years Foundation Stage framework works towards seven areas of
            learning and development ensuring smooth transition from preschool to school.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6"></div>
    </div>


    <div class="row" style="margin-top: 50px;">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="text-center">WE ARE A LEARNING BASED PRIMARY SCHOOL FOCUSED ON EXCELLENCE</h2>
        <p class="text-center">Our school is dedicated to teaching students through positive learning experiences so
          that they will be successful at the elementary school. We believe that our Early Years Foundation stage
          framework would set them on the right path by focusing o the following key areas</p>
      </div>
    </div>

    <div class="row" style="margin-top: 20px;">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="card-b">

        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="card-b">

        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="card-b">

        </div>
      </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 10px;">
      <div class="col-sm-3 col-md-4 col-lg-4">
        <div class="card-b">

        </div>
      </div>
      <div class="col-sm-3 col-md-4 col-lg-4">
        <div class="card-b">

        </div>
      </div>
    </div>

  </div>

</div>
